<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.localyticsreacttest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
      android:name="com.localyticsreacttest.permission.C2D_MESSAGE"
      android:protectionLevel="signature" />
    <uses-permission android:name="com.localyticsreacttest.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="27" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter>
          <data android:scheme="ampYOUR-LOCALYTICS-APP-KEY" />
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <receiver
        android:name="com.google.android.gms.gcm.GcmReceiver"
        android:exported="true"
        android:permission="com.google.android.c2dm.permission.SEND" >
        <intent-filter>
          <action android:name="com.google.android.c2dm.intent.RECEIVE" />
          <category android:name="com.localyticsreacttest" />
        </intent-filter>
      </receiver>

      <service
        android:name="com.localytics.android.GcmListenerService"
        android:exported="false" >
        <intent-filter>
          <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        </intent-filter>
      </service>

      <service
        android:name="com.localytics.android.InstanceIDListenerService"
        android:exported="false" >
        <intent-filter>
          <action android:name="com.google.android.gms.iid.InstanceID" />
        </intent-filter>
      </service>

      <activity android:name="com.localytics.android.PushTrackingActivity"/>

      <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

      <service android:name="com.localytics.android.GeofenceTransitionsService"/>

      <receiver android:name="com.localytics.android.BootReceiver" >
        <intent-filter>
          <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
      </receiver>
    </application>

</manifest>
